/*
* @Author: Chris
* @Date:   2019-10-26 13:32:28
* @Last Modified by:   Chris
* @Last Modified time: 2019-10-26 15:08:26
*/
.TodoList {
	width: 960px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
}